@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);


body {
	background: #DDD;
	font-size: 15px;
}


input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  color: #555;
  background: none;
  border-bottom: 1px solid #BBB;
  width: 500px;
  border-bottom: 1px solid #BBB;
  cursor: text;  
}



.navbar-header a{
	font-family: "Lato";
	font-weight: 700;
	cursor: auto;
}

.dontShow{
	display: none;
}

.show{
	display: block;
}

.marginTop10{
	margin-top: 10px;
}

.marginTop30{
	margin-top: 30px;
}

ul li{
	list-style: outside none none;
	font-family: "Lato";
	font-weight: 300;
	font-size: 30px;	
}
